# dependencies
/node_modules

# next.js build output
/.next/
/out/
/build

# environment files (keep secrets OUT of git)
.env
.env*.local
.env.local.txt

# logs
*.log

# os / editor
.DS_Store
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
